<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/products/new" method="post">
        <div class="form-group">
            <label for="name">상품등록</label>
            <input type="text" id="name" name="name" placeholder="상품명을 입력하세요">
            <input type="text" id="price" name="price" placeholder="가격">
            <input type="text" id="stock" name="stock" placeholder="수량">
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>