<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <div>
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>상품목록</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="product : ${products}">
        <td th:text="${product.no}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.stock}"></td>
        <td>
          <a href="#" th:href="@{/products/{no}/edit (no=${product.no})}" role="button">수정</a>
        </td>
        <td>
          <a href="#" th:href="@{/products/{no}/delete (no=${product.no})}" role="button">삭제</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>
</html>