<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
  <div class="py-3 text-center">
    <h2>상품목록</h2>
  </div>
    <table class="table">
      <thead>
      <tr>
        <th>상품번호</th>
        <th>상품명</th>
        <th>상품가격</th>
        <th>재고</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="product : ${products}">
        <td th:text="${product.no}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.stock}"></td>
        <td>
          <a class="link-primary" href="#" th:href="@{/products/{no}/edit (no=${product.no})}" role="button">수정</a>
        </td>
        <td>
          <a class="link-primary" href="#" th:href="@{/products/{no}/delete (no=${product.no})}" role="button">삭제</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div> <!-- /container -->
</body>
</html>
</html>