<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-3 text-center">
        <h1>상품 관리</h1>
    </div>
    <div class="row">
        <div class="col">
            <a class="w-100 btn btn-outline-danger" href="/products/new">상품 등록</a>
        </div>
        <div class="col">
            <a class="w-100 btn btn-outline-primary" href="/products">상품 목록</a>
        </div>
        <div class="col">
            <a class="w-100 btn btn-outline-success" href="/api">API</a>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>